.image {
	display: block;
	margin-right: 20%;
	margin-left: 20%;
}

/*#sidebar {
	width: 20%;
	background-color: red;
	float: left;
	height: 1000px;
}



a {
	color: white;
	font-size: 20px;
	font-family: arial;
}

li {
	text-decoration: none;
	text-decoration-style: none;
}*/